<!-- footer.html start -->
  <footer>
    <div class="container">
      <div class="row-fluid">
        <div class="span8 offset2">
          <ul class="social clearfix">
            <li><a class="s1" href="/"></a></li>
            <li><a class="s2" href="/"></a></li>
            <li><a class="s3" href="/"></a></li>
            <li><a class="s4" href="/"></a></li>
            <li><a class="s5" href="/"></a></li>
          </ul>
          <ul class="bottom-nav clearfix">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Legal Agreement</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
          <p>Copyright 2013-2020 Open Cancer Network. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <div class="overhead"></div>
<!-- footer.html end -->