{% extends "base.html" %}

{% block content %}

	<center>
     <div class="jumbotron">
		
        <h1>Corporate @$$hole</h1>
        <p class="lead">Exposing Corporate Shenanigans</p>

      </div>

      <div class="search">
     	<form action="/search/" method="POST">
			Enter Company Name: <input type="input" name="search" size="60">
			<input type="submit" name="Submit"> 
		</form>
      </div>
	</center>
		<p><p>
      <hr>
 <!--     <div class="row-fluid marketing">
        <div class="span6">
          <p> <a href="default.asp">
          	<img src="microsoftexcel.png" alt="HTML Tutorial" width="32" height="32"></a>
          	<b>Walmart</b> 65%</p>

          <p> <a href="default.asp">
          	<img src="microsoftexcel.png" alt="HTML Tutorial" width="32" height="32"></a>
          	<b>Apple</b> 80%</p>

          <p> <a href="default.asp">
          	<img src="microsoftexcel.png" alt="HTML Tutorial" width="32" height="32"></a>
          	<b>Exxon</b> 61%</p>

          <p> <a href="default.asp">
          	<img src="microsoftexcel.png" alt="HTML Tutorial" width="32" height="32"></a>
          	<b>Facebook</b> 74%</p>
        </div> -->

{% endblock %}