{% extends "base.html" %}

{% block content %}

	<center>
     <div class="jumbotron">
		
        <h1>Corporate @$$hole</h1>
        <p class="lead">Exposing Corporate Shenanigans</p>

      </div>

      <div class="search">
     	<form action="/search/" method="POST">
			Enter Company Name: <input type="input" name="search" size="60">
			<input type="submit" name="Submit"> 
		</form>
      </div>
	</center>
		<p><p>
      <hr>
      <div class="row-fluid marketing">
        <div class="span6">
          <p> <a href="default.asp">
          	<img src="microsoftexcel.png" alt="HTML Tutorial" width="32" height="32"></a>
          	<b>Walmart</b> 65%</p>

          <p> <a href="default.asp">
          	<img src="microsoftexcel.png" alt="HTML Tutorial" width="32" height="32"></a>
          	<b>Apple</b> 80%</p>

          <p> <a href="default.asp">
          	<img src="microsoftexcel.png" alt="HTML Tutorial" width="32" height="32"></a>
          	<b>Exxon</b> 61%</p>

          <p> <a href="default.asp">
          	<img src="microsoftexcel.png" alt="HTML Tutorial" width="32" height="32"></a>
          	<b>Facebook</b> 74%</p>
        </div>

 <!--       <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
-->


<center>
	<div class="container">
		<div class="row">
	        <div class="span12">
	            <form id="custom-search-form" class="form-search form-horizontal pull-right" action="/search/" method="POST">
	                <div class="input-append span12">
	                    <input type="text" class="search-query" placeholder="Search" name="search">
	                    <button type="submit" class="btn"><i class="icon-search"></i></button>
	                </div>
	            </form>
	        </div>
		</div>
	</div>
	
	
</center>

{% endblock %}