{% extends "base.html" %}

{% block content %}

<center>
	<div class="container">
		<div class="row">
	        <div class="span12">
	            <form id="custom-search-form" class="form-search form-horizontal pull-right" action="/search/" method="POST">
	                <div class="input-append span12">
	                    <input type="text" class="search-query" placeholder="Search" name="search">
	                    <button type="submit" class="btn"><i class="icon-search"></i></button>
	                </div>
	            </form>
	        </div>
		</div>
	</div>
	
	
</center>

{% endblock %}